table.table tbody tr td.crown{
    width: 100px;
}
.panel-crown {
    border: 3px solid #ccc;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    float: left;
    margin-right: 3px;
}
.g-crown {
    width: 0;
    height: 0;
    border-bottom: 35px solid #bfa930;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative
}
.g-crown:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 20px solid #ffe973;
    border-left: 20px solid #ffe973;
    border-right: 20px solid #ffd700;
    content: "";
    position: absolute;
    top: 0;
    left: -20px
}
.g-crown-circle {
    background-color: #a68c00;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: -5px;
    left: -21px
}
.g-crown-circle:before {
    background-color: #a68c00;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 19px
}
.g-crown-circle:after {
    background-color: #a68c00;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 38px
}
.s-crown {
    width: 0;
    height: 0;
    border-bottom: 35px solid #909090;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative
}
.s-crown:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 20px solid #e0e0e0;
    border-left: 20px solid #e0e0e0;
    border-right: 20px solid silver;
    content: "";
    position: absolute;
    top: 0;
    left: -20px
}
.s-crown-circle {
    background-color: #909090;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: -5px;
    left: -21px
}
.s-crown-circle:before {
    background-color: #909090;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 19px
}
.s-crown-circle:after {
    background-color: #909090;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 38px
}
.c-crown {
    width: 0;
    height: 0;
    border-bottom: 35px solid #69433f;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative
}
.c-crown:after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 20px solid #8c4841;
    border-left: 20px solid #8c4841;
    border-right: 20px solid #5b1c15;
    content: "";
    position: absolute;
    top: 0;
    left: -20px
}
.c-crown-circle {
    background-color: #69433f;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: -5px;
    left: -21px
}
.c-crown-circle:before {
    background-color: #69433f;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 19px
}
.c-crown-circle:after {
    background-color: #69433f;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 38px
}